<mat-divider [inset]="true"></mat-divider>
<mat-grid-list cols="2" rowHeight="4em">
  <mat-grid-tile>
    <mat-card>
      <h2 matBadge="{{ scores[0] }}" matBadgeColor="accent">Your score {{userName}}</h2>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <h2 matBadge="{{ scores[1] }}" matBadgeColor="accent">Computer score</h2>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="7em">
  <mat-grid-tile>
    <div>{{ resultMessage }}</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <h3>
      Select a weapon
    </h3>
  </mat-grid-tile>
  <mat-grid-tile>
    <ul>
      <li (click)="chooseWeapon(0)">
        <fa-icon [icon]="faHandRock" size="6x"></fa-icon>
        <br>rock
      </li>
      <li (click)="chooseWeapon(1)">
        <fa-icon [icon]="faHandPaper" size="6x"></fa-icon>
        <br>paper
      </li>
      <li (click)="chooseWeapon(2)">
        <fa-icon [icon]="faHandScissors" size="6x"></fa-icon>
        <br>scissors
      </li>
      <li (click)="chooseWeapon(4)">
        <fa-icon [icon]="faHandLizard" size="6x"></fa-icon>
        <br>lizard
      </li>
      <li (click)="chooseWeapon(3)">
        <fa-icon [icon]="faHandSpock" size="6x"></fa-icon>
        <br>spock
      </li>
    </ul>
  </mat-grid-tile>
</mat-grid-list>

