<mat-toolbar color="primary">
    Rock Paper Scissors Game
</mat-toolbar>
<div *ngIf="!isFirstScreen">
  <mat-card>
    <form>
      <div>
        <h1>Welcome to rock, paper, scissors, spock game!</h1>
      </div>
      <div>
        <label>
          Type your name
        </label>
      </div>
      <div>
          <mat-form-field>
            <input matInput placeholder="Your name" [(ngModel)]="userName" type="text" />
          </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="auth()" routerLink="/game-page">
          START GAME
        </button>
      </div>
    </form>
  </mat-card>
</div>

<app-game-page *ngIf="isFirstScreen" [userName]='userName'></app-game-page>
